@tailwind base;
@tailwind components;
@tailwind utilities;

.emoji {
  height: 1.5em;
  max-width: auto;
  display: inline-block;
}

@font-face {
  font-family: 'nasin-nanpa';
  src: url(./nasin-nanpa-2.5.1.otf);
}

* {
  font-family: ui-sans-serif, system-ui, apple-system, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "nasin-nanpa";
}
